         ############################################################################
           System Information-
           Server IP - {{ ansible_facts.default_ipv4.address }} 
           Server NIC - {{ ansible_facts.default_ipv4.interface }}
           Hardware Address - {{ ansible_facts.default_ipv4.macaddress }}

           For more information, please conect - sre@example.com
         ###########################################################################
